#module-container {
    content: "";
    background-color: rgb(253, 229, 92);
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    padding-top: 5%;
    padding-left: 18%;
    padding-right: 18%;
}

#img-col {
    height: 800px;
    background: url(./hiclipart.com1.png);
    background-repeat: no-repeat;
    background-size: auto 700px;
}

#text-col {
    padding-top: 20%;
    text-align: left;
}

#get-started-btn {
    margin-top: 20px;
    border-width: 3px;
}


