form.login {
    margin-top: 25px;
}
#loginForm-group {
    margin: 0px;
}

.loginForm-control{
    border-radius: 100px;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
